---
import HTML from '../../layouts/html.astro';
import Layout from '../../layouts/layout.astro';
import Document from '../../components/document.astro';
---

<HTML title="IMI GLOBAL — My contracts">
  <Layout>
    <Document>
      <div slot="doc">
        <h1>ID: SA-558</h1>
        <ul>
          <li>Contract Type: Rapid deployment --- TIER III</li>
          <li>Contract Status: Open (Assigned)</li>
          <li>Contract Start: 2020-24-04</li>
          <li>Location: SY-06</li>
          <li>Local Designation: Al-Mazrah Enclave</li>
        </ul>
        <p>Contract Description:</p>
        <p>
          Remote village formed around abandoned NET retransmitter site. Local
          militia has taken control of the area and is using it as a base of
          operations. The site is used as a staging area for attacks on local
          government forces. Militia leader is associated with dissident
          activity and listed under Category Black: Trans-continental Terrorist
          Elements.
        </p>

        <p>Contract Objectives:</p>
        <ol>
          <li>Infiltrate the Al-Mazrah Enclave militia installation</li>
          <li>Locate and subdue militia leader</li>
          <li>Exfiltrate with the asset intact</li>
        </ol>
        <p>Contract Notes:</p>
        <ol>
          <li>
            Target group is lightly equipped and of limited tactical
            sophistication. No advanced gear expected.
          </li>
          <li>Collateral risk: Negligible</li>
          <li>Local population: 20-30</li>
          <li>Estimated militia: 8-10</li>
          <li>Vehicles sighted: 1 technical (Hilux, HMG)</li>
        </ol>
        <p>Additional info</p>
        <ol>
          <li>Satellite snaps attached - Jazz</li>
          <li>Minimal support - infil/exfil via AV4 - Col. R. E.</li>
          <li>
            Advisor assigned - نصير بهجت - Spells Nassir Bahjat - Col R. E.
          </li>
        </ol>
        <blockquote>
          <strong>Comment:</strong><i>
            a local contract, sure, but N. S. (you know her as
            <del>Jar-al-ahad</del>) vouches her ass for it. I have a feeling she
            knows more than she tells us... But what else is new huh?</i
          >
          <strong> - Cpt. I. A.</strong>
        </blockquote>
        <blockquote>
          <strong>Comment:</strong><i>
            Donkeys. They ride donkeys and we're bringing .50 to the fight.
            That's just plain boring</i
          ><strong> - Col. R. E.</strong>
        </blockquote>
      </div>
    </Document>
  </Layout>
</HTML>
