---
import HTML from '../../layouts/html.astro';
import Layout from '../../layouts/layout.astro';
import Document from '../../components/document.astro';
---

<HTML title="IMI GLOBAL — My contracts">
  <Layout>
    <Document>
      <div slot="doc">
        <h1>ID: SA-558</h1>
        <ul>
          <li>Тип контракта: Быстрое развертывание --- УРОВЕНЬ III</li>
          <li>Статус контракта: Открыт --- Назначен</li>
          <li>T-0: 2020-24-04 00:00</li>
          <li>Локация: SY-06</li>
          <li>Местное обозначение: Анклав Аль-Мазра</li>
        </ul>
        <p>Описание контракта:</p>
        <p>
          Удалённая деревня, сформированная вокруг заброшенного сетевого
          ретранслятора. Местное ополчение захватило район и использует его в
          качестве базы операций. Объект используется как перевалочный пункт для
          атак на местные правительственные силы. Лидер ополчения связан с
          диссидентской деятельностью и относится к коду-чёрный:
          Транс-континентальные террористические элементы.
        </p>

        <p>Цели контракта:</p>
        <ol>
          <li>Проникнуть на объект ополчения в анклаве Аль-Мазра</li>
          <li>Обнаружить и обезвредить лидера ополчения</li>
          <li>Эвакуировать цель в целости</li>
        </ol>
        <p>Примечания по контракту:</p>
        <ol>
          <li>
            Цели слабо экипированы и обладают ограниченными тактическими
            навыками. Эффективное сопротивление маловероятно.
          </li>
          <li>Риск сопутствующего ущерба: Незначительный</li>
          <li>Местное население: 20–30 человек</li>
          <li>Оценка численности ополчения: 8–10 бойцов</li>
          <li>Замечена техника: техничка (Hilux, крупнокалиберный пулемёт)</li>
        </ol>
        <p>Дополнительная информация</p>
        <ol>
          <li>Приложены спутниковые снимки – Jazz</li>
          <li>
            Минимальная поддержка – инфильтрация/эвакуация с помощью AV4 – Полк.
            Р. Э.
          </li>
          <li>
            Прикрепленный фасилитатор, Насир Баджат, на связь прямо не выходил,
            ожидаю инструкций – Полк. Р. Э.
          </li>
        </ol>
        <blockquote>
          <strong>Комментарий:</strong><i>
            местный контракт, да, но Н. С. (или
            <del>Джар-аль-Ахад</del>, если так привычнее) впрягается за него
            всей душой. У меня ощущение, что она знает больше, чем говорит...
            Хотя пора бы уже и привыкнуть</i
          >
          <strong> – Кап. И. А.</strong>
        </blockquote>
        <blockquote>
          <strong>Комментарий:</strong><i>
            Ослы. Они ездят на ослах, а мы тащим .50-й калибр. Просто скука
            смертная</i
          ><strong> – Полк. Р. Э.</strong>
        </blockquote>
      </div>
    </Document>
  </Layout>
</HTML>
