/* Armor Page Layout */
.armor-page .container {
  grid-template-columns: 240px repeat(3, 1fr);
}

/* === Panel Overrides === */
.panel {
  min-width: 200px;
}

#damage-history-panel {
  max-width: 222px;
}

#character-armor-panel {
  min-width: 316px;
}

/* === Responsive === */
@media (max-width: 1053px) {
  .armor-page .container {
    grid-template-columns: 1fr;
  }

  #damage-history-panel {
    max-width: none;
  }

  #character-armor-panel {
    min-width: 0;
  }

  #damage-history-panel.expanded .panel-content {
    max-height: 50vh;
    overflow-y: auto;
  }
}
