---
import HTML from '../layouts/html.astro';
import Layout from '../layouts/layout.astro';
import Document from '../components/document.astro';

import charsheet1 from '../assets/charsheets/charsheet1.jpg';
import charsheet2 from '../assets/charsheets/charsheet2.jpg';
---

<HTML title="IMI GLOBAL — MY LOGISTICS">
  <Layout>
    <Document>
      <div>
        <p>Кто?</p>
        <p>
          Миша уже поделился квентой и в ближайшее время станет первым игроком с
          чарником :). <br /><span class="tag"
            >- Тяжело аугментированный соло</span
          >
          <br />
          Ника выбрала роль и примерное направление<br /><span class="tag"
            >- Нетраннер с солидными боевыми навыками</span
          >
          <br />
          Валя уверенно сказала - хочу быть снайпершей из ЦАХАЛа<br /><span
            class="tag">- Соло, мастер-снайпер</span
          >
          <br />
          Гриша ждет примерного состава команды и раскидки по скиллам, прежде чем
          подробно погружаться<br /><span class="tag">- Логист</span>
          <br />
          Артем решился насчет роли, но пока без деталей<br /><span class="tag"
            >- Техник!</span
          >
          <br />
        </p>
        <hr />
        <p>Когда...</p>
        <h1>ЧЕТВЕРГИ!</h1>
        <h2>
          До 08.05.25 - болтаем, придумываем персонажей, то-сё... Ну и я
          заканчиваю подготовку :)
        </h2>
        <h3>
          08.05.25 - тестовый прогон - пробуем систему, знакомимся с сеттингом,
          обязательно пиу-пиу и БАБАХ - см. контракт SA558
        </h3>
        <h4>
          следующий четверг мы пропускам - оцениваем свой экспириенс, думаем,
          что понравилось, что не очень, твикаем персов если хочется
        </h4>
        <h4>
          Ииии начинаем лё кемпейн. Ессно больше информации получите ближе к
          этому моменту - и больше логистики :)
        </h4>
        <hr />
        <p>Что делать?</p>
        <p>
          - Придумать персонажа - эт самое важное.
          <br />В ближайшие дни я дополню сайтик страницей с описанием скиллов,
          которые вам пригодятся чаще или реже, и глядя на них, вместе с
          небольшим - или большим, я лично готов к любому развитию событий -
          описанием персонажа, вам нужно будет отправить мне небольшой список,
          каких навыков у вашего персонажа может быть, не быть, и особенно на
          первый взгляд не положено быть, а вот сюрприз, есть. <br />
          <hr />
          <p>
            пока что взгляните на чарник, как он есть - наверняка пригодится
          </p>
          <br />
          <img src={charsheet1.src} alt="2020" width="100%" height="100%" />
          <img src={charsheet2.src} alt="2020" width="100%" height="100%" />
        </p>
      </div>
    </Document>
  </Layout>
</HTML>
