---
import HTML from '../layouts/html.astro';
import Layout from '../layouts/layout.astro';
import '../styles/messages.css';
---

<HTML title="IMI GLOBAL — MESSAGES">
  <Layout>
    <header>
      <h1>Messages</h1>
    </header>
    <div class="content">
      <!--  -->
      <h4 style="padding-top: 0;">General chat</h4>
      <div id="ops-chat" class="terminal-chat"></div>
      <form id="chat-form" autocomplete="off">
        <input type="text" id="chat-input" placeholder="Type your message…" />
        <button type="submit">Send</button>
      </form>
      <!--  -->
      <h4>Personal messages</h4>

      <div class="message">
        <strong>From:</strong>
        <span>Adm. Ariel Lusair</span>
        <p>Subject: Welcome aboard</p>
        <p>
          Message: >>> Якоб, глянь-ка, достаточно дружелюбно по-твоему?
          Коррекция коррекцией, но мне еще не хватало чтоб ребята на меня
          обозлились. Да, им кремниевые пакеты теперь жрать до конца жизни - но
          после курсов MENA они должны понимать, что это им жизнь спасет.
          <br />
          <br />
          Оникс! Привет.<br />
          Поздравляю с успешным завершением "MENA-1"! Надеюсь, биомоды вам не пригодились,
          а если пригодились - то помогли.<br />
          Поскольку мы все еще на стоянке и обслуживании, у вас есть время на
          <i>местный</i> контракт - центральное командование отводит вам SA-558,
          ищите в агентах. Без вас мы в Бразилию не полетим, не волнуйтесь... Но
          все же поторопитесь. Ваш СО, Рина Эшоль, ждет в точке сбора - у неё аллергия
          на боевой дух, так что никакого панибратства, мой вам совет.
          <br />
          <br />
          Удачи, и буду рад поприветствовать вас лично, увидимся на борту!
          <br /><br />
          От лица всей команды эйрзепа Shamaen, <br />
          Sumus Tempestae
        </p>
      </div>
      <div class="message-read">
        <strong>From:</strong>
        <span>Adm. Ariel Lusair</span>
        <p>Subject: COPY - Комментарии к спецификации отряда “ONYX”</p>
        <blockquote>
          <p>
            Получил, прочитал, подумал. Пул кандидатов весьма адекватный,
            надеюсь ваши варианты не помрут раньше чем вы отправите им
            приглашения. Не знаю как вы их всех выловили, OpCom, вам с таким
            везением надо в рулетку играть.
          </p>
          <p>Основные замечания</p>
          <ol>
            <li>
              Не вижу смысла в том, чтобы включать в состав группы "ONYX"
              несколько кандидатов на одну и ту же роль. Это не только
              увеличивает риск утечки информации, но и создает ненужную
              конкуренцию между ними.
            </li>
            <li>
              Я сделаю вид, что не видел
              <span class="redacted">[☠☠☠☠]</span> в списке. А тебе, Хаим, спасибо
              за нефильтрованную версию. Если уж вы решитесь брать, то мне нужен
              отчет CSec о её лояльности. А то мы рискуем получить гениального крысёныша
              с доступом в серверную.
            </li>
          </ol>

          <p>
            Самое важное - по готовности, отправляйте их на "Desert Sun". Без
            биомодов их автономность закончится через 48 часов, насовсем, а без
            психонейрокоррекции они начнут языки себе откусывать (особенно
            Такахара с его четвертым уровнем)... и если есть время, отправьте на
            "MENA-0" или "MENA-1", а лучше на оба. Это не Америки, здесь
            особенностей больше, чем секретов у Сабуро.
          </p>
          <p>
            Рекомендую сразу по прибытию дать им доступы R1, а после тренинга и
            R2. Моя команда их получше еще чем курсы научит.
          </p>
          <p>Звучит как план?</p>
        </blockquote>
      </div>
      <div class="message-read">
        <strong>From:</strong>
        <span>CSec automated</span>
        <p>Subject: New C-Sec protocols</p>
        <p>
          Message: New C-Sec protocols are effective immediately. Please review
          the attached document for details and ensure compliance. Failure to do
          so may result in disciplinary action.
        </p>
        <hr />
        <a href="#">Download document</a>
        <hr />
        <p>Sent: 07.04.2023</p>
      </div>
    </div>
    <script src="../scripts/chat.ts"></script>
  </Layout>
</HTML>
