<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMI GLOBAL — MESSAGES</title>
    <link rel="stylesheet" href="./styles/imi-global-theme.css" />
  </head>
  <body>
    <div class="nav-toggle" onclick="toggleNav()">≡</div>
    <nav class="tactical-nav" id="tacticalNav">
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li>
          Available documents
          <ul>
            <li><a href="./onyx-spec.html">ONYX initiative</a></li>
          </ul>
        </li>
        <li>
          My data
          <ul>
            <li><a href="./team.html">Team</a></li>
            <li>
              <a href="./messages.html">Messages<span class="tag"> 1</span></a>
            </li>
            <li><a href="./logistics.html">Logistics</a></li>
            <li>
              <a href="./contract.html">Contracts<span class="tag"> 1</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <header>
      <h1>Messages</h1>
      <div class="user-info">
        <span>USER-0469</span>
      </div>
    </header>
    <main class="content">
      <!--  -->
      <p>General chat</p>
      <div id="ops-chat" class="terminal-chat"></div>
      <form id="chat-form" autocomplete="off">
        <input type="text" id="chat-input" placeholder="Type your message…" />
        <button type="submit">Send</button>
      </form>
      <!--  -->
      <p>Personal messages</p>

      <div class="message">
        <strong>From:</strong> <span>Adm. Ariel Lusair</span>
        <p>Subject: Welcome aboard</p>
        <p>
          Message: >>> Якоб, глянь-ка, достаточно дружелюбно по-твоему?
          Коррекция коррекцией, но мне еще не хватало чтоб ребята на меня
          обозлились. Да, им кремниевые пакеты теперь жрать до конца жизни - но
          после курсов MENA они должны понимать, что это им жизнь спасет.
          <br />
          <br />
          Оникс! Привет.<br />
          Поздравляю с успешным завершением "MENA-1"! Надеюсь, биомоды вам не
          пригодились, а если пригодились - то помогли.<br />
          Поскольку мы все еще на стоянке и обслуживании, у вас есть время на
          <i>местный</i> контракт - центральное командование отводит вам SA-558,
          ищите в агентах. Без вас мы в Бразилию не полетим, не волнуйтесь... Но
          все же поторопитесь. Ваш СО, Рина Эшоль, ждет в точке сбора - у неё
          аллергия на боевой дух, так что никакого панибратства, мой вам совет.
          <br />
          <br />
          Удачи, и буду рад поприветствовать вас лично, увидимся на борту!
          <br /><br />
          От лица всей команды эйрзепа Shamaen, <br />
          Sumus Tempestae
        </p>
      </div>
      <div class="message-read">
        <strong>From:</strong> <span>Adm. Ariel Lusair</span>
        <p>Subject: COPY - Комментарии к спецификации отряда “ONYX”</p>
        <blockquote>
          <p>
            Получил, прочитал, подумал. Пул кандидатов весьма адекватный,
            надеюсь ваши варианты не помрут раньше чем вы отправите им
            приглашения. Не знаю как вы их всех выловили, OpCom, вам с таким
            везением надо в рулетку играть.
          </p>
          <p>Основные замечания</p>
          <ol>
            <li>
              Не вижу смысла в том, чтобы включать в состав группы "ONYX"
              несколько кандидатов на одну и ту же роль. Это не только
              увеличивает риск утечки информации, но и создает ненужную
              конкуренцию между ними.
            </li>
            <li>
              Я сделаю вид, что не видел
              <span class="redacted">[☠☠☠☠]</span> в списке. А тебе, Хаим,
              спасибо за нефильтрованную версию. Если уж вы решитесь брать, то
              мне нужен отчет CSec о её лояльности. А то мы рискуем получить
              гениального крысёныша с доступом в серверную.
            </li>
          </ol>

          <p>
            Самое важное - по готовности, отправляйте их на "Desert Sun". Без
            биомодов их автономность закончится через 48 часов, насовсем, а без
            психонейрокоррекции они начнут языки себе откусывать (особенно
            Такахара с его четвертым уровнем)... и если есть время, отправьте на
            "MENA-0" или "MENA-1", а лучше на оба. Это не Америки, здесь
            особенностей больше, чем секретов у Сабуро.
          </p>
          <p>
            Рекомендую сразу по прибытию дать им доступы R1, а после тренинга и
            R2. Моя команда их получше еще чем курсы научит.
          </p>
          <p>Звучит как план?</p>
        </blockquote>
      </div>
      <div class="message-read">
        <strong>From:</strong> <span>CSec automated</span>
        <p>Subject: New C-Sec protocols</p>
        <p>
          Message: New C-Sec protocols are effective immediately. Please review
          the attached document for details and ensure compliance. Failure to do
          so may result in disciplinary action.
        </p>
        <hr />
        <a href="#">Download document</a>
        <hr />
        <p>Sent: 07.04.2023</p>
      </div>
    </main>
    <footer>
      <p>IMI GLOBAL OPS HUB</p>
    </footer>
    <script src="./scripts/nav.js"></script>
    <script src="./scripts/chat.js"></script>
  </body>
</html>
