---
import HTML from '../layouts/html.astro';
import Layout from '../layouts/layout.astro';
import '../styles/messages.css';
---

<HTML title="IMI GLOBAL — MESSAGES">
  <Layout>
    <header>
      <h1>Messages</h1>
    </header>
    <div class="content">
      <!--  -->
      <h4 style="padding-top: 0;">General chat</h4>
      <div id="ops-chat" class="terminal-chat"></div>
      <form id="chat-form" autocomplete="off">
        <input type="text" id="chat-input" placeholder="Type your message…" />
        <button type="submit">Send</button>
      </form>
      <!--  -->
      <h4>Personal messages</h4>

      <div class="message">
        <strong>From:</strong>
        <span>Adm. Ariel Lusair</span>
        <p>Subject: Welcome aboard</p>
        <p>
          Message: >>> Якоб, глянь-ка, достаточно дружелюбно по-твоему?
          Коррекция коррекцией, но мне еще не хватало чтоб ребята на меня
          обозлились. Да, им кремниевые пакеты теперь жрать до конца жизни - но
          после курсов MENA они должны понимать, что это им жизнь спасет.
          <br />
          <br />
          Оникс! Привет.<br />
          Поздравляю с успешным завершением "MENA-1"! Надеюсь, биомоды вам не пригодились,
          а если пригодились - то помогли.<br />
          Поскольку мы все еще на стоянке и обслуживании, у вас есть время на
          <i>местный</i> контракт - центральное командование отводит вам SA-558,
          ищите в агентах. Без вас мы в Бразилию не полетим, не волнуйтесь... Но
          все же поторопитесь. Ваш СО, Рина Эшоль, ждет в точке сбора - у неё аллергия
          на боевой дух, так что никакого панибратства, мой вам совет.
          <br />
          <br />
          Удачи, и буду рад поприветствовать вас лично, увидимся на борту!
          <br /><br />
          От лица всей команды эйрзепа Shamaen, <br />
          Sumus Tempestae
        </p>
        <p>Sent: 03.04.2020</p>
      </div>
      <div class="message-read">
        <strong>From:</strong>
        <span>Adm. Ariel Lusair</span>
        <p>Subject: COPY - Комментарии к спецификации отряда “ONYX”</p>
        <blockquote>
          <p>
            Получил, прочитал, подумал. Пул кандидатов весьма адекватный,
            надеюсь ваши варианты не помрут раньше чем вы отправите им
            приглашения. Не знаю как вы их всех выловили, OpCom, вам с таким
            везением надо в рулетку играть.
          </p>
          <p>Основные замечания</p>
          <ol>
            <li>
              Не вижу смысла в том, чтобы включать в состав группы "ONYX"
              несколько кандидатов на одну и ту же роль. Это не только
              увеличивает риск утечки информации, но и создает ненужную
              конкуренцию между ними.
            </li>
            <li>
              Я сделаю вид, что не видел
              <span class="redacted">[☠☠☠☠]</span> в списке. А тебе, Хаим, спасибо
              за нефильтрованную версию. Если уж вы решитесь брать, то мне нужен
              отчет CSec о её лояльности. А то мы рискуем получить гениального крысёныша
              с доступом в серверную.
            </li>
          </ol>
          <p>
            Самое важное - по готовности, отправляйте их на "Desert Sun". Без
            биомодов их автономность закончится через 48 часов, насовсем, а без
            психонейрокоррекции они начнут языки себе откусывать (особенно
            Такахара с его четвертым уровнем)... и если есть время, отправьте на
            "MENA-0" или "MENA-1", а лучше на оба. Это не Америки, здесь
            особенностей больше, чем секретов у Сабуро.
          </p>
          <p>
            Рекомендую сразу по прибытию дать им доступы R1, а после тренинга и
            R2. Моя команда их получше еще чем курсы научит.
          </p>
          <p>Звучит как план?</p>
        </blockquote>
        <p>Sent: 13.10.2019</p>
      </div>
      <div class="message-read">
        <strong>From:</strong>
        <span>IMI GLOBAL</span>
        <p>Subject: Назначение Эйрзепа «Шамаэн»</p>
        <p>
          Message: Уважаемый персонал штаба,<br />
          С 06.19 в оперативное распоряжение регионального командования MENA поступает
          эйрзеп «Шамаэн».<br /><br />
          «Шамаэн» представляет собой платформу стратегической мобильности с расширенными
          возможностями радиоэлектронной борьбы, кибервойны и малозаметного развертывания.
          Оснащённая комплексами стелс-маскировки, системами подавления каналов связи
          и собственным флотом транспортных AV и перехватчиков, платформа способна
          в кратчайшие сроки развернуть модульную зону высадки.<br /><br />
          Прошу руководителей всех соответствующих отделов обеспечить техническую
          и логистическую готовность к взаимодействию с новой единицей и следить
          за соблюдением протокола G-4.<br />
          С уважением,<br />
          Команда IMI GLOBAL.
        </p>
        <p>Sent: 22.08.2019</p>
      </div>
      <div class="message-read">
        <strong>From:</strong>
        <span>CSec automated</span>
        <p>Subject: New C-Sec protocols</p>
        <p>
          Message: New C-Sec protocols are effective immediately. Please review
          the attached document for details and ensure compliance. Failure to do
          so may result in disciplinary action.
        </p>
        <hr />
        <a href="#">Download document</a>
        <hr />
        <p>Sent: 07.06.2019</p>
      </div>
      <div class="message-read">
        <strong>From:</strong>
        <span>IMI GLOBAL MENA</span>
        <p>Subject: Добро пожаловать в MENA!</p>
        <p>
          Message: Поздравляем вас с успешным завершением курса "MENA-Org". Ваши
          результаты впечатляют, и мы уверены, что ваши навыки и знания будут
          незаменимы для операционной базы региона. Обратитесь к вашему куратору
          для получения униформы, знаков отличия и дальнейших инструкций. С
          уважением, операционный штаб IMI GLOBAL MENA.
        </p>
        <p>Sent: 18.05.2019</p>
      </div>
      <div class="message-read">
        <strong>From:</strong>
        <span>Anvar As-Saleh</span>
        <p>Subject: Приезжай, дорогой!</p>
        <p>
          Message: Якоб, дружище!
          <br />
          <br />

          Я, знаешь ли, увидел тебя в списках на «MENA-Org», вспомнил нашу с
          Арно беседу в «Синем Дворце», ну и сложил два и два. Здорово бы ты сам
          мне написал, но я все понимаю, передаешь задачи да сумки пакуешь, не
          до меня. Я не в обиде, хабиби.
          <br />В общем, пора тебе врубиться в местную кухню. Официальные
          брошюры — это хорошо, но они не объяснят, почему Санбёрн шлет своих
          смертничков ловить радиацию в Басру, а наши ребята шлем даже в хабе не
          снимают, хотя это нарушает инструкции. Вот тебе небольшой персональный
          ликбез, чтобы ты не выглядел туристом, что за турецким кофе к нам
          перевелся.
          <br /><br />
          <strong>Раз:</strong> Ближний Восток - это результат пофигизма. Тут всё
          давно пошло по наклонной, еще раньше, чем во всем остальном мире. Местные
          столетиями друг друга ненавидели, перекидывались себе ракетами из водопроводных
          труб да по очереди подрывали друг другу всякое. Еще в начале 90-х было
          ясно, что ничем хорошим это не закончится. Турки с Кипром, евреи понятно,
          арабы навернулись то с сомалийцами, то с индусами... В общем в 1997-м всё,
          считай, закончилось. Suicide War, говорят, но мне чего-то кажется что это
          был как минимум assisted suicide. Ну это мы обсудим на следующей вечеринке.
          <br /><br />
          <strong>Два:</strong> Африка держит темп, пускает спутники на европейские
          бабки, строит сетевые города. Северяне — марокканцы, алжирцы — крутейшие
          нетраннеры. В Касабланке целые семьи живут в палатках на улицах, башляют
          бандам какие-то гроши за охрану, а по сетям перегоняют миллионы. Пан-Африканский
          альянс нас не интересует, но об этом тоже, брат, с глазу на глаз.
          <br /><br />
          Что-то я потерял нить, честно говоря. Короче, почему мы здесь крутимся...
          Когда нефть вышла из моды, богатенькие шейхи пошли скупать всё подряд блестяшки.
          Саудиты, Эмираты, Кувейт — все пытались перекрасить экономику в цифру,
          но вышло так себе. Денег было много, а идей — не очень. Теперь пыль с цезием
          небо закрывает так, что не то что сети, неба не видно. Сейчас туда никто
          не лезет — разве что камикадзе в свинце или совсем безбашенные сталкеры...
          Или отчаянные местные, которым так и так жить пару лет осталось. Эти блестяшки
          теперь похоронены где-то в песках, а мы пашем, чтобы хоть как-то контролировать
          ситуацию. За это приплачивает Израиль, им нужна безопасность там, куда
          не суется ЦАХАЛ, да порой из Европы приходят контракты - то ученых выгулять,
          то найти что-нибудь, то кого-нибудь, кто не хочет, чтобы его нашли. Водили
          бы богатеньких мусульман до Мекки, но они нам доверяют меньше, чем всяким
          бедуинам.
          <br /><br />
          Практику тебе разжуют на месте, а за обзор пиши мне, не стесняйся. И да,
          возьми с собой запасной фильтр для респиратора — после симуляции на третью
          неделю все чихают песком неделю.
          <br /><br />
          Заходи по прилету,<br />
          Анвар<br />
        </p>
        <p>Sent: 12.01.2019</p>
      </div>

      <script src="../scripts/chat.ts"></script>
    </div>
  </Layout>
</HTML>
