<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMI GLOBAL — ONYX BRIEFING</title>
    <link rel="stylesheet" href="./styles/imi-global-theme.css" />
  </head>
  <body>
    <div class="nav-toggle" onclick="toggleNav()">≡</div>
    <nav class="tactical-nav" id="tacticalNav">
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li>
          Available documents
          <ul>
            <li><a href="#">ONYX initiative</a></li>
          </ul>
        </li>
        <li>
          My data
          <ul>
            <li><a href="./team.html">Team</a></li>
            <li>
              <a href="./messages.html">Messages<span class="tag"> 1</span></a>
            </li>
            <li><a href="./logistics.html">Logistics</a></li>
            <li>
              <a href="./contract.html">Contracts<span class="tag"> 1</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <header>
      <div class="header-content">
        <h1>*IMI GLOBAL*</h1>
        <div class="tag">Status: Confidential</div>
        <div class="tag">From: OpCom // TBD</div>
        <div class="tag">To: MENA // AZ Shamaen</div>
        <div class="tag">
          Regiment coordinator:
          <span class="redacted">Col. Haim Schwartz </span>
        </div>
      </div>
    </header>

    <main class="document">
      <h1>Формирование ударной группы "ONYX"</h1>
      <p>
        С учётом нарастающей контрактной нагрузки и ухудшения оперативной
        обстановки в регионе MENA (Ближний Восток и Северная Африка), в целях
        обеспечения защиты стратегических интересов IMI Global, инициировано
        формирование ударной группы "ONYX".
      </p>
      <hr />
      <ol>
        <li>
          Цель формирования ударной группы "ONYX" - создание высокомобильного
          отделения, способного выполнять широкий спектр операций, включая
          кибер-угрозы, в условиях ограниченных ресурсов и высокой
          неопределенности.
          <ol>
            <li>
              Учесть особенности региона MENA — недопустимая эскалация в
              цивилизованных регионах (Turkey, UIP, NAR, PAA), радиоактивная
              угроза (SA, Iraq, Iran), высокая плотность опасных элементов (SA,
              Syria, Lebanon, UIP-Jordan, Egypt, Libya), кибернетические угрозы
              (Egypt, Algeria, Morocco).
            </li>
          </ol>
        </li>

        <li>
          Основные требования к ударной группе "ONYX":
          <ol>
            <li>
              Способность к автономному принятию решений в условиях отсутствия
              централизованного управления.
            </li>
            <li>
              Физическая, психологическая и кибернетическая устойчивость к
              продолжительным операциям в зонах риска.
            </li>
            <li>
              Навыки работы в неофициальных сценариях с сохранением минимального
              публичного следа.
            </li>
            <li>
              Готовность к оперативному взаимодействию с локальными субъектами,
              включая неидентифицированные вооружённые формирования, враждебные
              сетевые структуры, частные военные компании и элементы
              криминального ландшафта.
            </li>
          </ol>
        </li>

        <li>
          Ролевой состав и предварительный пул кандидатов. Все кандидаты
          проходят предварительную верификацию OpCom и собеседование с рег.
          координатором.
          <br />
          <strong>Краткий обзор</strong><br />
          В целях обеспечения высокой мобильности и автономности группы,
          необходимо покрытие следующих ролей:

          <ul>
            <li>Соло - оператор с высоким боевым опытом</li>
            <li>
              Нетраннер - информационная поддержка, радиоэлектронная борьба
            </li>
            <li>Техник - полевой ремонт, робототехника</li>
            <li>Медтех - экстренная медицина, фармакология</li>
            <li>
              Логист - транспорт, навигация, взаимодействие с местными группами
            </li>
          </ul>

          Ниже указаны рекомендованные единицы по функциональным ролям.
          <ol>
            <li>
              <strong>Соло</strong> — боевая единица, способная выполнять
              широкий спектр задач. Рекомендуется отбор из числа действующих или
              бывших сотрудников спецподразделений, а также частных военных
              компаний. Учитывая специфику региона и высокую вероятность
              внеплановых кадровых ротаций, рассмотреть возможность привлечения
              нескольких кандидатов в целях поддержания непрерывной
              боеспособности.
              <ul>
                <li>
                  Aram 'Dagger' Dražin — CQB, скрытная работа, деликатные
                  операции. Опыт в Ливии и Египте.
                </li>
                <li>
                  Juno Takahara — Подрывник, быстрый вход/выход, работа с
                  тяжёлым вооружением. Имплантация уровня 4, в том числе Linear
                  Frame β. Опыт в EEC, в том числе
                  <span class="redacted"
                    >подрыв Норвежского зернохранилища 2014</span
                  >.
                </li>
                <li>
                  Mikhael 'Molot' Koval — Снайпер, работа на экстремальных
                  дистанциях, command & control. Неподтверждённый опыт в
                  Советском Союзе, в Египте и UIP.
                </li>
              </ul>
            </li>

            <li>
              <strong>Нетраннер</strong> — сетевой специалист. Спектр задач
              охватывает взлом, перехват, разведку, активную защиту от
              киберугроз.
              <ul>
                <li>
                  Sophie 'Nimble' Leclerc — Подтвержденный опыт работы в EEC и
                  Марокко. Предположительно является раннером
                  <span class="redacted">FU - Sincerely, CSec</span>, в связи с
                  чем рекомендуется отбор в качестве основного кандидата.
                  <blockquote>
                    — Серьёзно? Круто, но нас живьем сожрут. Я не настолько верю
                    в наш CSec, давайте это вырежем и забудем —
                    <em>Col. H.S.</em>
                  </blockquote>
                </li>
                <li>
                  Mei 'Blink' Chen — Скоростной взлом, работа с неразведанными
                  системами. Высокие боевые характеристики, нетраннинг под
                  огнем. Опыт: взлом закрытых систем SovOil 2008-2009, в том
                  числе штурм танкеров и нефтяных платформ; взлом систем
                  безопасности в ЕЕС <span class="redacted">Норвегии</span> и на
                  Кипре.
                </li>
                <li>
                  N'Kono 'Chisel' Gbadamosi — Специализация на коротковолновых
                  системах и промышленных узлах, работа с зашифрованными
                  каналами. Африканский континент, опыт в Марокко и Нигерии.
                </li>
              </ul>
            </li>

            <li>
              <strong>Техник</strong> — специалист по полевому ремонту,
              робототехнике и инфраструктуре.
              <ul>
                <li>
                  Yara 'Tinker' Al-Mansur — Опыт в Ираке (pre-1997). Советская
                  техника, генераторы, турели и дроны, импровизированные модули.
                </li>
                <li>
                  Yulian Tomashev — работа с авто- и тяжёлой техникой, включая
                  бронетехнику. Боевой опыт в Турции и на европейском театре
                  (Югославия, СССР), в том числе в качестве водителя-механика.
                </li>
                <li>
                  Phil 'Bling' McKenzie — кибернетические системы, включая
                  full-borg. Медицинская подготовка. Опыт в Америках.
                </li>
              </ul>
            </li>

            <li>
              <strong>Медтех</strong> — медико-биологическое сопровождение.
              Ожидается готовность к выполнению не только лечебных, но и полевых
              хирургических и нейрокоррекционных задач.
              <ul>
                <li>
                  Laila Ben Harrabi, MD — Экстренная хирургия, стабилизация,
                  работа с тяжёлыми травмами. Опыт в UIP и UIP-Иордания.
                </li>
                <li>
                  Oleg 'Salt' Zvonarev — Военная медицина, имплантация,
                  экстренная нейрокоррекция. Длительная работа в Закавказье,
                  Турции и пустынных регионах.
                </li>
                <li>
                  Xi 'Frogger' Chen — Специализация на биологических и
                  химических агентах. Докторская степень по биотехнологии из
                  Бернского университета, весомый вклад в создание вакцины от
                  Wasting Plague. Опыт экстренной медицины в EEC.
                </li>
              </ul>
            </li>

            <li>
              <strong>Логист</strong> — специалист по обеспечению, навигации,
              транспорту и взаимодействию с локальной средой.
              <ul>
                <li>
                  Nassir 'Amoo' Bahjat — Знание пустынных маршрутов, родственные
                  связи с кочевниками, сопровождающими мусульман в хадж. Высокий
                  потенциал избежания конфликтов, богатая сеть контактов.
                </li>
                <li>
                  Quentin 'Q' Leclerc — Бывший капитан подразделения PMC
                  "Sunburn". Знание нескольких местных языков, большой опыт
                  оперативной работы в зонах повышенной радиоактивной угрозы.
                  Подтвержденные операции от Кувейта до Йемена.
                </li>
                <li>
                  Jasmin 'Jazz' Al-Ali — Категория 4 по экстремальному вождению,
                  квалификация для полетов на всех типах транспортных средств до
                  8 тонн. Богатая сеть контактов вокруг UIP, в том числе среди
                  представителей правительства. Высокий уровень доверия со
                  стороны местного населения.
                  <blockquote>
                    — Рассмотреть в качестве контакта для фасилитации в UIP —
                    <em>Col. H.S.</em>
                  </blockquote>
                </li>
              </ul>
            </li>
          </ol>
        </li>
      </ol>

      <p>
        <strong>Примечание:</strong><br />
        Состав группы “ONYX” окончательно утверждается после проведения учений и
        стресс-теста взаимодействия. Ротации и замены возможны по решению
        командира сектора или OpCom.
      </p>

      <hr />

      <p>
        В дополнение к вышеуказанным ролям, рекомендуется отбор нескольких
        кандидатов в качестве резервa для обеспечения непрерывной боеспособности
        группы. Резервные кандидаты могут быть выбраны из числа действующих или
        бывших сотрудников IMI Global, а также вышеперечисленных кандидатов.
      </p>
    </main>

    <footer>CSec === APPROVED === 08.02.2020</footer>

    <script src="./scripts/nav.js"></script>
  </body>
</html>
