---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/imi-global-theme.css" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
  }
</style>
