---
import '../styles/imi-global-theme.css';
import favicon from '../assets/favicon.svg';
const { title, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
  }
</style>
