---
import '../styles/layout.css';
import Modal from '../components/modal.astro';
---

<main>
  <slot />
  <footer>
    <div class="box">
      <div class="box col">
        <span>IMI GLOBAL</span>
        <span>USER-0469</span>
      </div>
      <Modal id="tacticalNav" buttonClass="nav-toggle" buttonText="≡">
        <ul>
          <li><a href="#">Home</a></li>
          <li>
            <span>Available documents</span>
            <ul>
              <li><a href="./onyx-spec.html">ONYX initiative</a></li>
            </ul>
          </li>
          <li>
            <span>My data</span>
            <ul>
              <li><a href="./team.html">Team</a></li>
              <li>
                <a href="./messages.html">Messages<span class="tag"> 1</span></a
                >
              </li>
              <li><a href="./logistics.html">Logistics</a></li>
              <li>
                <a href="./contract.html"
                  >Contracts<span class="tag"> 1</span></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </Modal>
    </div>
  </footer>
</main>
