---
import '../styles/layout.css';
import NavSidebar from '../components/nav-sidebar.astro';
import HomerulesSidebar from '../components/homerules-sidebar.astro';
---

<main>
  <div class="page-scroll">
    <slot />
  </div>
  <footer>
    <div class="flex-between gap-4">
      <div class="flex-col gap-4">
        <span>IMI GLOBAL</span>
        <span>USER-0469</span>
      </div>
      <NavSidebar />
      <HomerulesSidebar />
    </div>
  </footer>
</main>
