---
import '../styles/layout.css';
import Modal from '../components/modal.astro';
---

<main>
  <slot />
  <footer>
    <div class="box">
      <div class="box col">
        <span>IMI GLOBAL</span>
        <span>USER-0469</span>
      </div>
      <Modal id="tacticalNav" buttonClass="nav-toggle" buttonText="≡">
        <ul>
          <li><a href="/super-octo-chainsaw/">Home</a></li>
          <li>
            <span>Available documents</span>
            <ul>
              <li>
                <a href="/super-octo-chainsaw/documents/onyx-spec"
                  >ONYX initiative</a>
              </li>
            </ul>
          </li>
          <li>
            <span>My data</span>
            <ul>
              <li><a href="/super-octo-chainsaw/team">Team</a></li>
              <li>
                <a href="/super-octo-chainsaw/messages"
                  >Messages<span class="tag"> 1</span></a
                >
              </li>
              <li><a href="/super-octo-chainsaw/logistics">Logistics</a></li>
              <li>
                <a href="/super-octo-chainsaw/contracts/sa558"
                  >Contracts<span class="tag"> 1</span></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </Modal>
    </div>
  </footer>
</main>
